<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

    <context:component-scan base-package="com.duoshouji.service,com.duoshouji.restapi,com.duoshouji.core"/>
    <mvc:annotation-driven/>
    
    <mvc:resources location="/" mapping="*.html"></mvc:resources>
    
    <beans:bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
       <beans:property name="viewClass" value="org.springframework.web.servlet.view.RedirectView"/>
    </beans:bean>
    
    <beans:bean class="org.springframework.jdbc.core.JdbcTemplate">
        <beans:constructor-arg>
            <beans:bean class="com.mysql.cj.jdbc.MysqlDataSource">
                <beans:property name="url" value="jdbc:mysql://localhost:3306/duoshouji?characterEncoding=UTF-8"/>
                <beans:property name="user" value="root"/>
                <beans:property name="password" value="Duo@2016"/>
            </beans:bean>
        </beans:constructor-arg>
    </beans:bean>
        
</beans:beans>
